<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Bulls and Cows</h1>
    <h2>Guess 4 numbers.</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="number" name="numbers"/></br>
            <br><input type="submit" value="Send"/></br>
        </form>
    <br>
    <div>{{ message }}</div>
{#    <a href="history/">view history</a>#}
</body>
</html>